= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %h3
    = @user.email
  .field
    = f.label :admin, "¿Permisos de Administrador?"
    = f.check_box :admin
  .field
    = f.label :editor, "¿Permisos de Editor?"
    = f.check_box :editor

  .actions
    = f.submit 'Guardar'
