<div class="boxNew" align=center>   <div class="titulo">Editando evento</div></div>

<%= render 'form' %>

<%= link_to 'Ver', @evento %> |
<%= link_to 'Volver', eventos_path %>
<%= javascript_include_tag "jquery"%>
<%= javascript_include_tag "eventos.js"%>
