<h1>Listing eventos</h1>
<%= will_paginate @eventos %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <!--<th>Lugar</th>
      <th>Hora inicio</th>
      <th>Hora fin</th>
      <th>Hora</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Direccion</th>
      <th>Fuente</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Categoria</th>
      <th>Contacto</th>
      <th>Pagina</th>
      <th>Latitud</th>
      <th>Longitud</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.nombre %></td>
      <!--  <td><%= evento.lugar %></td>
        <td><%= evento.hora_inicio %></td>
        <td><%= evento.hora_fin %></td>
        <td><%= evento.imagen %></td>
        <td><%= evento.descripcion %></td>
        <td><%= evento.precio %></td>
        <td><%= evento.direccion %></td>
        <td><%= evento.fuente %></td>
        <td><%= evento.fecha_inicio %></td>
        <td><%= evento.fecha_fin %></td>
        <td><%= evento.categoria %></td>
        <td><%= evento.contacto %></td>
        <td><%= evento.pagina %></td>
        <td><%= evento.latitud %></td>
        <td><%= evento.longitud %></td>-->
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
