<!--<p id="notice"><%= notice %></p>-->

<div class="row ">

<div class="col-md-12 contenedorEventos">
        <div class="col-md-1">
        </div>

        <div class="col-md-11 contenedorEventos">

                 

                 <div class="col-md-12">

                          <div class="row">

                              <div class="col-md-12 " >
                              </div>
                              <pre class="space"></pre>
                              
                              <div class="col-md-6 contenedor">

                                  <p>
                                   <strong><h3><span  class='eventos_textos'> <%= @evento.nombre %> </span></h3></strong>
                                  </p>
                                   <table  class="tabla">
                                      <thead>
                                      
                                      </thead>

                                      <tbody>
                                          <tr>
                                            <td  width='8%'><img src='/categorias/<%= @evento.categoria %>.png' width='23' height='23' />
                                            </td>

                                            <td width='92%' background-color='blue'> <font color='black'><%= @evento.categoria %></font> </td>
                                           </tr>

                                           <tr>
                                              <td  width='8%'><img src="/fecha.png" width="25" height="25" />
                                              </td>

                                              <td width='92%'><span  class='eventos_textos'>   <%= @evento.fecha_inicio %>  - <%= @evento.fecha_fin %></span></td>
                                           </tr>

                                           <tr>
                                            <td  width='8%'><img src="/hora.png" width="25" height="25" />
                                            </td>

                                            <td width='92%'> <span id="horas">dfsfd</span></td>
                                           </tr>

                                           <tr>
                                            <td  width='8%'> <img src="/donde.png" width="25" height="25" />                                            </td>

                                            <td width='92%'> <font color='blue'>  <span  class='eventos_textos'>  <%= @evento.lugar %></span></td>
                                           </tr>

                                           <tr>
                                            <td  width='8%'>
                                            </td>

                                            <td width='92%'> <span  class='eventos_textos'>  <%= @evento.direccion %></span></td>
                                           </tr>

                                           <tr>
                                            <td  width='8%'> <img src="/telefono.png" width="25" height="25" />
                              
                                            </td>

                                            <td width='92%'> <%= @evento.contacto %></td>
                                           </tr>

                                           <tr>
                                            <td  width='8%'><img src="/web.png" width="25" height="25" />
                                
                                            </td>

                                            <td width='92%'><a href='<%=@evento.pagina %>'><%= @evento.pagina %></a></td>
                                           </tr>

                                           
                                           <tr>
                                            <td  width='8%'> <img src="/informacion.png" width="25" height="25" />
                             
                                            </td>

                                            <td width='92%'>    <span class='eventos_textos'>   <%= @evento.descripcion %></span></span></td>
                                           </tr>

                                           <tr>
                                            <td  width='8%'> <img src="/precio.png" width="25" height="25" />
                                
                                            </td>

                                            <td width='92%'> <%= @evento.precio %></td>
                                           </tr>

                                       
                                      </tbody>
                                   </table>
                                  
                                 
                                    <span  hidden=true id="hi"> <%= @evento.hora_inicio %></span>
                                    <span  hidden=true id="hf"> <%= @evento.hora_fin %></span>
                                 
                              </div>

                              <div class="col-md-6">
                                      <p>

                                     <p class="text-center">
                                      <!--<img src="<%= @evento.imagen %>" class="img-responsive center-block ">-->
                                       <div id="map_canvas" style="width:100%;height:500px;position: relative;"></div>
                                    </p>

                                  </p>
                              </div>


                            
                            <p>
                              
                             <span  hidden=true id="lat"> <%= @evento.latitud %></span>
                            </p>

                            <p>
                             
                             <span hidden=true id="lon"> <%= @evento.longitud %></span>
                            </p>
                           
                      </div>
                  </div>

                  

        </div>

       
        <div class="col-md-1">
        </div>
</div>
</div>

<!--<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>-->
<%= javascript_include_tag "showEventos" %>
