<p id="notice"><%= notice %></p>
<div class="row">
  <pre class='space'></pre>
<div class="col-xs-12">
        <div class="col-xs-1">
        </div>
              <div class="col-xs-10 box1">

                 <div class="col-xs-0.5">
                 </div>

                 <div class="col-xs-12">

                  <div class="row">

                      <div class="col-xs-6">
                        <p>
                      <strong>
                      <h1><span  class='eventos_textos'> <%= @evento.nombre %> </span></h1></strong>
                       </p>

                    <p>

                      <img src="/donde.png" width="20" height="23" />
                      <span class='eventos_textos'>  <%= @evento.lugar %></span>
                    </p>
                    <p>
                      <strong>Direccion:</strong>
                    <span class='eventos_textos'>  <%= @evento.direccion %></span>
                    </p>
                    <p>
                      <img src="/fecha.png" width="20" height="23" />
                    <span class='eventos_textos'>   <%= @evento.fecha_inicio %>  - <%= @evento.fecha_fin %></span>
                    </p>



                    <p>

                      <img src="/hora.png" width="20" height="23" />
                     <span class='eventos_textos'>  <%= @evento.hora_inicio %> a
                      <%= @evento.hora_fin %></span>
                    </p>

                    <!--<p>
                      <strong>Hora fin:</strong>
                      <%= @evento.hora_fin %>
                    </p>
                    <p>
                      <strong>Fecha fin:</strong>
                      <%= @evento.fecha_fin %>
                    </p>-->


                    <p>
                      <strong>Descripcion:</strong>
                    <span class='eventos_textos'>   <%= @evento.descripcion %></span>
                    </p>

                    <p>
                     <img src="/precio.png" width="20" height="23" />
                      <%= @evento.precio %>
                    </p>

                      </div>
                      <div class="col-xs-6">
                        <p>

                       <p class="text-center">
                        <img src="<%= @evento.imagen %>" class="img-responsive center-block ">
                      </p>

                    </p>
                      </div>


                    <p>
                      <strong>Fuente:</strong>
                      <%= @evento.fuente %>
                    </p>


                    <p>
                      <strong>Categoria:</strong>
                      <%= @evento.categoria %>
                    </p>

                    <p>
                      <strong>Contacto:</strong>
                      <span class="glyphicon glyphicon-envelope"></span>
                      <%= @evento.contacto %>
                    </p>

                    <p>
                      <strong>Pagina:</strong>
                      <a href='<%=@evento.pagina %>'><%= @evento.pagina %></a>
                    </p>

                    <p>
                      <strong>Latitud:</strong>
                      <%= @evento.latitud %>
                    </p>

                    <p>
                      <strong>Longitud:</strong>
                      <%= @evento.longitud %>
                    </p>
                     <p class="text-center">
                       <div id="map_canvas" style="width:100%;height:400px;"></div>

                      </p>

                     </div>
                </div>

            </div>
</div>
</div>
  <pre class='space'></pre>
<!--<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>-->
<%= javascript_include_tag "showEventos" %>
