<p id="notice"><%= notice %></p>
<div class="row">
  <pre></pre>
<div class="col-xs-12">
        <div class="col-xs-1">
        </div>
              <div class="col-xs-10 box1">
             
                 <div class="col-xs-0.5">
                 </div>

                 <div class="col-xs-12">

                  <div class="row">

                      <div class="col-xs-6">
                        <p>
                      <strong>Nombre:</strong>
                      <span class='eventos_textos'> <%= @evento.nombre %> </span>
                       </p>

                    <p>
                      <strong>Lugar:</strong>
                      <img src="/donde.png" width="20" height="23" />
                      <span class='eventos_textos'>  <%= @evento.lugar %></span>
                    </p>
                    <p>
                      <strong>Direccion:</strong>
                    <span class='eventos_textos'>  <%= @evento.direccion %></span>
                    </p>
                    <p>
                      <strong>Fecha inicio:</strong>
                    <span class='eventos_textos'>   <%= @evento.fecha_inicio %>  - <%= @evento.fecha_fin %></span>
                    </p>

                    <p>
                      <strong>Fecha fin:</strong>
                      <%= @evento.fecha_fin %>
                    </p>

                    <p>
                      <strong>Hora inicio:</strong>
                      <img src="/hora.png" width="20" height="23" />
                      <%= @evento.hora_inicio %>
                      <%= @evento.hora_fin %>
                    </p>

                    <p>
                      <strong>Hora fin:</strong>
                      <%= @evento.hora_fin %>
                    </p>

                    

                    <p>
                      <strong>Descripcion:</strong>
                      <%= @evento.descripcion %>
                    </p>

                    <p>
                      <strong>Precio:</strong>
                      <%= @evento.precio %>
                    </p>

                      </div>
                      <div class="col-xs-6">
                        <p>
                      
                       <p class="text-center">
                        <img src="<%= @evento.imagen %>" class="img-responsive center-block ">
                      </p>
                   
                    </p>
                      </div>
                    
                    
                    <p>
                      <strong>Fuente:</strong>
                      <%= @evento.fuente %>
                    </p>

                    
                    <p>
                      <strong>Categoria:</strong>
                      <%= @evento.categoria %>
                    </p>

                    <p>
                      <strong>Contacto:</strong>
                      <%= @evento.contacto %>
                    </p>

                    <p>
                      <strong>Pagina:</strong>
                      <a href='<%= @evento.pagina %>'><%= @evento.pagina %></a>
                    </p>

                    <p>
                      <strong>Latitud:</strong>
                      <%= @evento.latitud %>
                    </p>

                    <p>
                      <strong>Longitud:</strong>
                      <%= @evento.longitud %>
                    </p>
                     <p class="text-center">
                        <img src="http://www.wawis.com.mx/wp-content/uploads/2009/11/wawis_google_maps_mexico.jpg" class="img-responsive center-block ">
                      </p>

                     </div>
                </div>
            
            </div>
</div>
</div>
  <pre></pre>
<!--<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>-->
