= form_for @venue do |f|
  - if @venue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@venue.errors.count, "error")} prohibited this venue from being saved:"
      %ul
        - @venue.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :direccion
    = f.text_field :direccion
  .field
    = f.label :latitud
    = f.text_field :latitud
  .field
    = f.label :longitud
    = f.text_field :longitud
  .actions
    = f.submit 'Save'
