<%= form_for @venue do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@venue.errors.count, "error")} prohibited this venue from being saved:" %>
      </h2>
      <ul>
        <% @venue.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <%= f.label :nombre, "Indica en el mapa en donde será el  Evento" , class: "label_formulario"%><br>
      <div id="map_canvas" style="width:100%;height:300px;"></div>
      <div class="col-xs-12">
        <div class="col-xs-6">
          <div class="field">
            <span id:"lat"></span>  <%= f.hidden_field :latitud , :id=>'lat'%></span>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="field">
            <span id:"lng"> <%= f.hidden_field :longitud , :id=>'lng' %></span>
          </div>
        </div>
      </div>
  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
<%= javascript_include_tag "eventos" %>
