
= form_tag venues_path, class: "form-inline", method: :get do
  .input-group.input-group-lg
    - if params[:query].present?
      .input-group-btn
        = link_to "clear", venues_path, class: "btn btn-default"
    = text_field_tag :query, params[:query], class: "form-control", id: "venue_search", autocomplete: "on"
    .input-group-btn
      = submit_tag "Search", class: "btn btn-primary"


%h1 Listing venues

%table
  %tr
    %th Nombre
    %th Direccion
    %th Latitud
    %th Longitud
    %th
    %th
    %th

  - @venues.each do |venue|
    %tr
      %td= venue.nombre
      %td= venue.direccion
      %td= venue.latitud
      %td= venue.longitud
      %td= link_to 'Show', venue
      %td= link_to 'Edit', edit_venue_path(venue)
      %td= link_to 'Destroy', venue, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Venue', new_venue_path
= javascript_include_tag "typeahead" 
= javascript_include_tag "venues" 
