%p#notice= notice

%p
  %b Nombre:
  = @venue.nombre
%p
  %b Direccion:
  = @venue.direccion
%p
  %b Latitud:
  = @venue.latitud
%p
  %b Longitud:
  = @venue.longitud

= link_to 'Edit', edit_venue_path(@venue)
\|
= link_to 'Back', venues_path
