<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry">         </script>
  <%= javascript_include_tag "jquery","jquery_ujs", "typeahead", "select2"%>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "datepick" %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>
</head>
<body>
  <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!--  <a class="navbar-brand" href="">Eventario</a>
    <img src="/logo.png" height="50px" width="100px" >-->
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapsible">

<!--      <ul class="nav navbar-nav navbar-left">-->
   <ul class="nav navbar-nav navbar-right">


        <!--<li ><%= link_to "Eventario", root_path %></li>-->
<!--        <li class="<%= 'active' if current_page?(mapa_path) %>"><%= link_to "Buscar Eventos", mapa_path %></li>-->
        <li class="<%= 'active' if current_page?(mapa_path) %>"><%= link_to "Eventario",root_path  %></li>
         <li class="<%= 'active' if current_page?(mapa_path) %>"><%= link_to "Descargar Aplicación", aplicacion_path %></li>


        <li>&nbsp;</li> <li>&nbsp;</li> <li>&nbsp;</li> <li>&nbsp;</li>

      </ul>

    </div>

  </div>
</nav>

<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

<%= yield %>

<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 column">
        <h4>Información</h4>
        <ul class="nav">
          <li><%= link_to "Acerca de", about_path %></li>
          <li><%= link_to "Términos de uso", privacy_path %></li>
          <li><a href="http://codigo.labplc.mx/">Código CDMX</a></li>
          <li><a href="http://labplc.mx/">LabPLC</a></li>

        </ul>
      </div>
    <div class="col-xs-6 col-md-3 column">
        <h4>Redes Sociales</h4>
        <ul class="nav">

           <li><a href="https://twitter.com/EventarioCDMX">Twitter</a></li>
          <li><a href="https://www.facebook.com/EventarioCDMX">Facebook</a></li>

        </ul>
      </div>
   <!-- <div class="col-xs-6 col-md-3 column">
        <h4>Contact Us</h4>
        <ul class="nav">
          <li><a href="#">Email</a></li>
          <li><a href="#">Headquarters</a></li>
          <li><a href="#">Management</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>-->
    <div class="col-xs-6 col-md-3 column">
        <h4>Código CDMX</h4>
        <ul class="nav">
          <li><a href="http://verificalo.herokuapp.com">Verificalo</a></li>
          <li><a href="http://traxi.mx">Traxi</a></li>
          <li><a href="#">Infomercado</a></li>
          <li><a href="http://muevete.herokuapp.com">Cuidate!</a></li>
          <li><a href="http://checate-aqui.herokuapp.com">Checate Aqui</a></li>

        </ul>
      </div>

       <div class="col-xs-6 col-md-3 column">
        <h4>Aceeso a Secretarías</h4>
        <ul class="nav">
           <li class="<%= 'active' if current_page?(new_evento_path) %>"><%= link_to "Registrar Nuevo Evento", new_evento_path %></li>
             <% if user_signed_in? %>
             <li><%= link_to "Admin Users", users_path %></li>
            Bienvenido <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Iniciar Sesión", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </ul>
      </div>
  </div>
</div>
</footer>






        <!-- JavaScript jQuery code from Bootply.com editor -->

        <script type='text/javascript'>


        </script>
</body>
</html>

